In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("New5")

In [3]:
data.head(10)

,ID,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),...,Ever_Renovate_Yes,Zipcode_group_Zipcode_Group_1,Zipcode_group_Zipcode_Group_2,Zipcode_group_Zipcode_Group_3,Zipcode_group_Zipcode_Group_4,Zipcode_group_Zipcode_Group_5,Zipcode_group_Zipcode_Group_6,Zipcode_group_Zipcode_Group_7,Zipcode_group_Zipcode_Group_8,Zipcode_group_Zipcode_Group_9
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,...,0,0,0,0,0,0,0,0,0,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,...,1,1,0,0,0,0,0,0,0,0
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,...,0,1,0,0,0,0,0,0,0,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,...,0,1,0,0,0,0,0,0,0,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,...,0,0,1,0,0,0,0,0,0,0
5,7237550310,1230000.0,4,4.50,5420.0,101930.0,1.0,0,10,3890.0,...,0,0,1,0,0,0,0,0,0,0
6,1321400060,257500.0,3,2.25,1715.0,6819.0,2.0,0,7,1715.0,...,0,0,0,0,0,0,0,0,0,0
7,2008000270,291850.0,3,1.50,1060.0,9711.0,1.0,0,7,1060.0,...,0,0,0,0,0,0,0,0,0,0
8,2414600126,229500.0,3,1.00,1780.0,7470.0,1.0,0,7,1050.0,...,0,0,0,0,0,0,0,0,0,0
9,3793500160,323000.0,3,2.50,1890.0,6560.0,2.0,0,7,1890.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
data.drop(columns=['ID'],inplace=True)

In [6]:
data.head(5)

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Ever_Renovate_Yes,Zipcode_group_Zipcode_Group_1,Zipcode_group_Zipcode_Group_2,Zipcode_group_Zipcode_Group_3,Zipcode_group_Zipcode_Group_4,Zipcode_group_Zipcode_Group_5,Zipcode_group_Zipcode_Group_6,Zipcode_group_Zipcode_Group_7,Zipcode_group_Zipcode_Group_8,Zipcode_group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,1,1,0,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,1,0,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,1,0,0,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,1,0,0,0,0,0,0,0

In [7]:
Y=data.iloc[:,0]

In [8]:
X=data.iloc[:,1:31]

In [20]:
X.head(5)

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Ever_Renovate_Yes,Zipcode_group_Zipcode_Group_1,Zipcode_group_Zipcode_Group_2,Zipcode_group_Zipcode_Group_3,Zipcode_group_Zipcode_Group_4,Zipcode_group_Zipcode_Group_5,Zipcode_group_Zipcode_Group_6,Zipcode_group_Zipcode_Group_7,Zipcode_group_Zipcode_Group_8,Zipcode_group_Zipcode_Group_9
0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,63,...,0,0,0,0,0,0,0,0,0,0
1,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,67,...,1,1,0,0,0,0,0,0,0,0
2,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,85,...,0,1,0,0,0,0,0,0,0,0
3,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,53,...,0,1,0,0,0,0,0,0,0,0
4,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,31,...,0,0,1,0,0,0,0,0,0,0

In [21]:
Y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: Sale_Price, dtype: float64

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [24]:
X_train.shape

(15126, 30)

In [25]:
X_test.shape

(6483, 30)

In [26]:
Y_train.shape

(15126,)

In [27]:
Y_test.shape

(6483,)

# STANDARDIZATION

In [28]:
from sklearn import preprocessing

In [29]:
scale=preprocessing.StandardScaler()

In [30]:
X_train=scale.fit_transform(X_train)

In [31]:
X_train

array([[-0.39083429, -0.46863396, -0.86291881, ...,  0.        ,
         0.        , -0.04457893],
       [-0.39083429,  0.18121544, -0.34611036, ...,  0.        ,
         0.        , -0.04457893],
       [-0.39083429,  0.50614014, -0.42308183, ...,  0.        ,
         0.        , -0.04457893],
       ...,
       [ 1.73378727, -1.44340806, -0.42308183, ...,  0.        ,
         0.        , -0.04457893],
       [-0.39083429, -1.44340806, -1.11582508, ...,  0.        ,
         0.        , -0.04457893],
       [ 0.67147649,  1.80583895,  1.87506641, ...,  0.        ,
         0.        , -0.04457893]])

In [32]:
X_test=scale.fit_transform(X_test)

In [33]:
X_test

array([[ 1.79768094,  0.81087888,  0.20050496, ...,  0.        ,
         0.        , -0.05562857],
       [-0.41818854,  0.4868572 ,  0.7331833 , ...,  0.        ,
         0.        , -0.05562857],
       [-1.52612328,  0.4868572 , -0.48132332, ...,  0.        ,
         0.        , -0.05562857],
       ...,
       [-0.41818854,  0.4868572 , -0.10844848, ...,  0.        ,
         0.        , -0.05562857],
       [ 0.6897462 ,  0.81087888,  0.05135502, ...,  0.        ,
         0.        , -0.05562857],
       [ 2.90561567,  0.81087888,  1.26586165, ...,  0.        ,
         0.        , -0.05562857]])

In [35]:
data.to_csv("Ultimate.csv",index=False)