In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data=pd.read_csv("new.csv")

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 22 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 21609 non-null  int64
 1   ID                                         21609 non-null  int64
 2   Date House was Sold                        21609 non-null  object
 3   Sale Price                                 21609 non-null  float64
 4   No of Bedrooms                             21609 non-null  int64
 5   No of Bathrooms                            21605 non-null  float64
 6   Flat Area (in Sqft)                        21600 non-null  float64
 7   Lot Area (in Sqft)                         21600 non-null  float64
 8   No of Floors                               21609 non-null  float64
 9   Waterfront View                            21609 non-null  object
 10  No of Times Visited                        21609 non-null  object
 11  Condition of the House                     21609 non-null  object
 12  Overall Grade                              21609 non-null  int64
 13  Area of the House from Basement (in Sqft)  21606 non-null  float64
 14  Basement Area (in Sqft)                    21609 non-null  int64
 15  Age of House (in Years)                    21609 non-null  int64
 16  Renovated Year                             21609 non-null  int64
 17  Zipcode                                    21608 non-null  float64
 18  Latitude                                   21608 non-null  float64
 19  Longitude                                  21608 non-null  float64
 20  Living Area after Renovation (in Sqft)     21608 non-null  float64
 21  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(8), object(4)
memory usage: 3.6+ MB

In [14]:
data['Sale Price'].isnull().sum()

0

In [15]:
numerical_columns=['No of Bathrooms','Flat Area (in Sqft)','Lot Area (in Sqft)','Area of the House from Basement (in Sqft)',
                   'Zipcode','Latitude','Longitude','Living Area after Renovation (in Sqft)']

In [16]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='median')
data[numerical_columns]=imputer.fit_transform(data[numerical_columns])

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 22 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 21609 non-null  int64
 1   ID                                         21609 non-null  int64
 2   Date House was Sold                        21609 non-null  object
 3   Sale Price                                 21609 non-null  float64
 4   No of Bedrooms                             21609 non-null  int64
 5   No of Bathrooms                            21609 non-null  float64
 6   Flat Area (in Sqft)                        21609 non-null  float64
 7   Lot Area (in Sqft)                         21609 non-null  float64
 8   No of Floors                               21609 non-null  float64
 9   Waterfront View                            21609 non-null  object
 10  No of Times Visited                        21609 non-null  object
 11  Condition of the House                     21609 non-null  object
 12  Overall Grade                              21609 non-null  int64
 13  Area of the House from Basement (in Sqft)  21609 non-null  float64
 14  Basement Area (in Sqft)                    21609 non-null  int64
 15  Age of House (in Years)                    21609 non-null  int64
 16  Renovated Year                             21609 non-null  int64
 17  Zipcode                                    21609 non-null  float64
 18  Latitude                                   21609 non-null  float64
 19  Longitude                                  21609 non-null  float64
 20  Living Area after Renovation (in Sqft)     21609 non-null  float64
 21  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(8), object(4)
memory usage: 3.6+ MB

In [18]:
data['Zipcode'].shape

(21609,)

In [19]:
column=data['Zipcode'].values.reshape(-1,1)
column.shape

(21609, 1)

In [20]:
column=data['Zipcode'].values.reshape(-1,1)
imputer=SimpleImputer(missing_values=np.nan,strategy='most_frequent')
data['Zipcode']=imputer.fit_transform(column)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 22 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 21609 non-null  int64
 1   ID                                         21609 non-null  int64
 2   Date House was Sold                        21609 non-null  object
 3   Sale Price                                 21609 non-null  float64
 4   No of Bedrooms                             21609 non-null  int64
 5   No of Bathrooms                            21609 non-null  float64
 6   Flat Area (in Sqft)                        21609 non-null  float64
 7   Lot Area (in Sqft)                         21609 non-null  float64
 8   No of Floors                               21609 non-null  float64
 9   Waterfront View                            21609 non-null  object
 10  No of Times Visited                        21609 non-null  object
 11  Condition of the House                     21609 non-null  object
 12  Overall Grade                              21609 non-null  int64
 13  Area of the House from Basement (in Sqft)  21609 non-null  float64
 14  Basement Area (in Sqft)                    21609 non-null  int64
 15  Age of House (in Years)                    21609 non-null  int64
 16  Renovated Year                             21609 non-null  int64
 17  Zipcode                                    21609 non-null  float64
 18  Latitude                                   21609 non-null  float64
 19  Longitude                                  21609 non-null  float64
 20  Living Area after Renovation (in Sqft)     21609 non-null  float64
 21  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(8), object(4)
memory usage: 3.6+ MB

In [22]:
data.to_csv("new2.csv")